@font-face
{
	font-family: Amatic; 
	src: url('../fonts/AmaticSC-Regular.ttf');
}
@font-face {
    font-family: Amatic;
    src: url("../font/Amatic-Blod.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face
{
	font-family: Verano; 
	src: url('../fonts/Verano.otf');
}

@font-face {
    font-family: "SourceSansPro";
    src: url("../font/SourceSansPro-Black.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url("../font/SourceSansPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url("../font/SourceSansPro-Light.otf");
    font-weight: lighter;
    font-style: normal;
}

/*bootstrap */






.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before,
.container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.container:after {
  clear: both;
}




.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row:after {
  clear: both;
}
.col-xs-12,
.col-md-6,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  .col-md-6 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }

}

@media (min-width: 1200px){
.container {
max-width: 1400px;
}}






body {
	background-color: #dedede;
	margin: 0;
}

.bg-story:nth-child(even) {
	background-color: #ebebeb;
}
.bg-story:nth-child(odd) {
	background-color: #dedede;
}

.main-title {
	text-align: center;
	font-family: Amatic, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-title h1 {
	font: bold 100px Amatic, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-title p {
	text-transform: capitalize;
	font-size: 50px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.story-menu {
	position: absolute;
	top: 20px;
	left: 20px;
}
.story-menu img{
	max-height:100px;
}
.story-title {
	font-family: Amatic, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.story-title h1 {
	text-align: center;
	font: bold 100px Amatic, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.story-title p {
	text-transform: capitalize;
	font-size: 50px;
	margin-top: 40px;
	margin-bottom: 20px;
}

a {
}
a:link {
    color: #666666;
    text-decoration: none;
}
 
a:active {
    color: #B73045;
    text-decoration: none;
}
 
a:visited {
    color: #999999;
    text-decoration: none;
}
a:hover {
    color: #B73045;
    text-decoration: none;
}

.story-img-list {
	/*width: 50%;*/
    display: inline-block;
    position: relative;
    
}

.story-img-list:after {
    /*padding-top: 56.25%; 16:9 ratio*/
    padding-top: 61%; /*16:9 ratio*/
    display: block;
    content: '';
}

.story-img-list img {
  	width: 100%;
  	height: 100%;
  	opacity: 0; /*hack visible with background for ration width/height*/
}

.main-img {
	position: absolute;
	    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
	background: url('../blank_alt.jpg');
	background-size: 100%;
	background-position: center center;
    background-repeat: no-repeat;
 }

#map-canvas {
	min-height: 500px;
	width: 100%;
	height: 100%;
}
.main-story-img-list {
	height:275px;
}


.story-list-text {
	padding: 30px;
}

.blur {
	-webkit-filter: grayscale(50%) sepia(25%) blur(2px) brightness(0.9);
	-webkit-transition : -webkit-filter 500ms linear;
}

.blur:hover {
	-webkit-filter: grayscale(50%) sepia(25%) blur(0px);
}




.story-list-text p{
	font: 200 20px SourceSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1200px){/* for screens smaller then 850px, set the font size smaller */
   .story-list-text p{
   	font: 100 16px SourceSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
   }
}

p.list-text-strong {
	font-weight: bold;
	font-size: 40px;
	font-family: Amatic, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 0;
}

.full-width:after {
	padding-top: 50%;
}


.img-centered {
	position: absolute;
	overflow: hidden;
	margin-top: -10%;
}

.story-img-list {
	padding: 0;
}

.main-story-img-list img{
	-webkit-filter: grayscale(50%) sepia(25%) blur(2px);
	-webkit-transition : -webkit-filter 500ms linear;
/*	-webkit-filter: ;
	-webkit-filter: ;*/
}

.main-story-img-list img:hover{
/*	-webkit-filter: grayscale(10%);*/
}

.story-img-list-text {
	font-family: Amatic, "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 0;
    position:absolute;
    text-align:center;
    top: 29%;
    width: 64%;
    margin-left: 18%;
	text-transform: uppercase;
	font-size: 5em;
	color: #eeeeee;
	border: 3px solid #eeeeee;
}

